body * {
    font-family: Tahoma, Arial, Verdana, Geneva!important;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
    background: #1E1E2D;
}

#sidebar .title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    color: #FFF;
    text-align: center;
    padding: 10px 0 20px;
}

#sidebar .menu {
    padding-left: 0;
}

#sidebar .menu li {
    list-style-type: none;
    cursor: pointer;
}

#sidebar .menu li:hover {
    background: #FFF;
}

#sidebar .menu li:hover a {
    color: #1E1E2D;
}

#sidebar .menu li a {
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0 10px 20px;
}

#sidebar.active {
    margin-left: -250px;
}

#layout-content {
    width: calc(100% - 250px);
}

#layout-content .navbar {
    width: 100%;
    height: 50px;
    background: #E9ECEF;
}

#layout-content .navbar button {
    color: #000;
}

#layout-content .breadcrumb {
    background: none;
}

#layout-content .page-container {
    padding: 10px 50px;
}

table td {
    overflow-wrap: anywhere;
}

.article {
    border-bottom: 2px solid #ddd;
}

.article .title {
    color: #00A3E4;
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
}

.article .hoofdtitel {
    color: #00A3E4;
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
	font-size: 30px;
}

.article .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.article .content.detail {
    -webkit-line-clamp: inherit!important;
}

.article .read-more {
    color: #00A3E4;
}

.user-menu {
    background-image: linear-gradient(#2E2E2E, #535353, #2e2e2e);
    margin-bottom: 30px;
}

.user-menu ul {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0;
}

.user-menu ul li {
    margin: 0 20px;
    list-style-type: none;
}

.user-menu ul li a {
    color: #FFF;
}

table td {
    vertical-align: middle !important;
}

.footer {
    padding: 20px 40px;
    background: #4F8690;
    color: #fff;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    list-style-type: none;
}

.footer ul li a {
    color: #fff;
}

.user-body {
    background: #37A7BA;
}

.container {
    background: #fff;
    padding: 0;
}
.knop {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:30px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:18px;
	padding:11px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.knop:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.knop:active {
	position:relative;
	top:1px;
}

.homepage-body .article .content *:not(:first-child) {
	display: none;
}

.right-side .article .content *:not(:first-child) {
	display: none;
}
